accueil_homepage:
    path:     /
    defaults: { _controller: PoliceBundle:Attestation:pageAccueil }  
    #Agent de cirulation
police_attestation:
    path:     /attestation
    defaults: { _controller: PoliceBundle:Attestation:attestation }
    
police_attestation_view_agent:
    path:     /attestation_view_agent/{id}
    defaults: { _controller: PoliceBundle:Attestation:attestationViewAgent }
    
police_attestation_valid:
    path:     /attestation_valider/{id}
    defaults: { _controller: PoliceBundle:Attestation:attestationValider }
    
police_attestation_liste_infraction:
    path:     /liste_infraction/{id}
    defaults: { _controller: PoliceBundle:Attestation:listeInfraction } 
    
police_attestation_edit_infraction:
    path:     /edit_infraction/{id}
    defaults: { _controller: PoliceBundle:Attestation:editInfraction }
    
police_attestation_infraction_en_cours:
    path:     /infraction_en_cours/{id}
    defaults: { _controller: PoliceBundle:Attestation:infractionEnCours } 
    
police_attestation_edit:
    path:     /attestation_edit/{id}
    defaults: { _controller: PoliceBundle:Attestation:edit }
    
police_attestation_policier:
    path:     /attestation_policier/{page}
    defaults:  
        _controller: PoliceBundle:Attestation:AttDunPolicier
        page:        1 
    requirements:
        page: \d*
        
police_attes_msg:
    path:     /pas_attestation
    defaults: { _controller: PoliceBundle:Attestation:message }
    
police_attestation_view:
    path:     /attestation/{id}
    defaults: { _controller: PoliceBundle:Attestation:attestationView }
    
police_attestation_pdf:
    path:     /attestation_pdf/{id}
    defaults: { _controller: PoliceBundle:Attestation:pdf }
    
    #Le Caissier
police_attestation_percepteur:
    path:     /attestation_percepteur/{page}
    defaults: 
        _controller: PoliceBundle:Caissier:percepteur 
        page:        1 
    requirements:
        page: \d*
    
police_attestation_payer:
    path:     /attestation_payer/{id}
    defaults: { _controller: PoliceBundle:Caissier:attesPayer }
    
police_attestation_verication:
    path:     /attestation_verifier/{id}
    defaults: { _controller: PoliceBundle:Caissier:Verification }
    
    #Gestion Piece
police_attestation_gestion_piece:
    path:     /attestation_gestion_piece/{page}
    defaults: 
        _controller: PoliceBundle:GestionPiece:GestionPiece 
        page:        1 
    requirements:
        page: \d*
           
police_attestation_remettre_piece:
    path:     /remettre_piece/{id}
    defaults: { _controller: PoliceBundle:GestionPiece:remettrePiece }
    
    #Superviseur
police_attestation_all:
    path:     /attestation_all/{page}
    defaults:  
        _controller: PoliceBundle:Superviseur:attestationAll 
        page:        1 
    requirements:
        page: \d*
 
superviseur_voir_payer:
    path:     /attestation_all_payer/{page}
    defaults:  
        _controller: PoliceBundle:Superviseur:attestationAllPayer 
        page:        1 
    requirements:
        page: \d*
        
superviseur_voir_non_payer:
    path:     /attestation_all_non_payer/{page}
    defaults:  
        _controller: PoliceBundle:Superviseur:attestationAllNonPayer 
        page:        1 
    requirements:
        page: \d*
        
police_attestation_commi_view:
    path:     /attestation_commi/{id}
    defaults: { _controller: PoliceBundle:Superviseur:attestationCommi }
    
police_attestation_mail:
    path:     /attestation_mail
    defaults: { _controller: PoliceBundle:Attestation:envoiMail }
    
    #superviseur_general:
police_attestation_superviseur_general:
    path:     /attestation_superviseur_general/{page}
    defaults: 
        _controller: PoliceBundle:SuperviseurGeneral:superviseurGeneral
        page:        1 
    requirements:
        page: \d*
        
superviseur_voir_retirer:
    path:     /attestation_all_retirer/{page}
    defaults:  
        _controller: PoliceBundle:SuperviseurGeneral:attestationAllRetirer
        page:        1 
    requirements:
        page: \d*
        
superviseur_voir_non_retirer:
    path:     /attestation_all_non_retirer/{page}
    defaults:  
        _controller: PoliceBundle:SuperviseurGeneral:attestationAllNonRetirer
        page:        1 
    requirements:
        page: \d*
    
    #Recherche une attestation:
police_attestation_recherche:
    path:     /attestation_recherche
    defaults: { _controller: PoliceBundle:Attestation:recherche }
    
police_attestation_recherche_traitement:
    path:     /attestation_recherche_traitement
    defaults: { _controller: PoliceBundle:Attestation:rechercheTraitement }
    

