<div>   
    <img src="{{ absolute_url(asset('img/baniere-gendarmerie.jpg')) }}">   
</div>
{#    _____________
<div>    
    <P>REPUBLIQUE DU SENEGAL<br>
    <span> Un peuple-Un but-Une foi</span>
    </p>
    _____________
    <h5> MINISTERE DE L'INTERIEUR ET DE LA SECRUITE PUBLIQUE </h5>
    _____________
    <h5> DIRECTION GENERALE DE LA POLICE NATIONALE</h5>
</div>#}


