.enGras{
    font-weight: bold
}

.centerBouton{
    text-align: center
}

#banniere{
    position: fixed;
       
}

.centerTab{
    text-align: center;
}

#formInfraction{
    margin-top: 10%;
}

#titreInfraction{
    margin-left: 50%;
}