.enGras{
    font-weight: bold
}

.centerBouton{
    text-align: center
}

#banniere{
    position: fixed;
       
}

.centerTab{
    text-align: center;
}

#formInfraction{
    margin-top: 10%;
}

#titreInfraction{
    margin-left: 40%;
}

#imgAttes{
    position: absolute;
    top: 0;
    margin-left: 70%;
    padding-top: 2%;
}
table{
    text-align: center;
}

#titreAttesEdit{
    margin-left: 30%;
}

#tableauPercepteur{
    padding-top: 10%;
}
#tableauAll{
    padding-top: 13%;
}
#tableauGen{
    padding-top: 15%;
}

#tireGestPiece{
    margin-left: 20%;
}

